{lib_dirs,["deps"]}.
{erl_opts, [
  {src_dirs, ["src"]},
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  %warn_missing_spec,
  warn_untyped_record, debug_info
]}.
{deps, [
  {gun,   ".*", {git, "git://github.com/extend/gun.git",  "1.0.0-pre.1"}}
]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
